<h2 class="panel-heading">Statistics</h2>
<div class="panel-block">
    <table class="table is-narrow">
        <tbody>
            <tr>
                <td>Total completed tasks</td>
                <td>{{ task_count }}</td>
            </tr>
            <tr>
                <td>Time spent</td>
                <td>{{ time_spent }}</td>
            </tr>
        </tbody>
    </table>
</div>
